

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #AED5D2;
}

.container{
    display: flex;
}
.container1{
    background-color: #d7f0ee;
    height: 75vh;
    margin: 52px -20vh;
    width: 140vh;
    border-radius: 10vh;
    box-shadow: 5px 10px #96b5b2;
}

.container2{
    /* background-color: #d7f0ee;
    border: 3px solid black; */
    margin: 52px 0vh;
    height: 70vh;
}

.chatbtn{
    background-color: #01404F;
    color: white;
}
.style12{
    background-color: #d7f0ee;
    border-radius: 10vh;
    box-shadow: 5px 10px #96b5b2;
    width: 23vw;
    margin-left: 27vh;
    padding: 3vh;
    padding-left: 5vh;
    height: 35vh;
    margin-right: -23vh;

}

.prize{
    margin-bottom: 5vh;
}

.objectimg{
    padding: 7vh;
}

.container3{
    background-color: #d7f0ee;
    margin: 0vh 10vh;
    border-radius: 10vh;
    box-shadow: 5px 10px #96b5b2;
    display:flex
}

.detailstyle{
    padding: 3vh;
/* border: 1vh solid black; */
width: 720px;
padding-left: 15vh;
font-size: 3vh;
}

.price{
    display: flex;
    margin-bottom: 3vh;
}

.prizeicon{
    padding-left: 20vh;
display: flex;
}

.share{
    margin-right: 2vh;
}