<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="card-details">
        <img class="cardimg" src="<%= card.photosurl %>">
        <h2><%= card.price %></h2>
        <p><%= card.model_name %></p>
        <div class="address_data">
          <p><%= card.address %></p>
          <p>Today</p>
        </div>
        <!-- Include other details as needed -->
      </div>
      

</body>
</html>